.form {
  background-color: var(--grey-lighter);
  border: 1px solid var(--grey-light);
  border-radius: 6px;
  padding: 1em;

  label {
    display: block;
    margin-bottom: 0.25em;
  }

  input,
  select,
  textarea {
    border: 1px solid var(--grey-light);
    border-radius: 4px;
    line-height: 1.5rem;
    padding: 0.8em;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    font-family: var(--font-family);
    //box-shadow: 1px 1px 3px inset var(--grey-line);

    &:focus,
    &:active {
      outline: 2px solid var(--grey-line);
    }
  }

  button {
    &:focus,
    &:active {
      outline: none;
    }
  }

  textarea {
    min-height: 10em;
  }

  .field {
    margin: 0 0 1.25em;
  }
}
