.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 1em auto 2em;

  .logo {
    max-width: 5em;
  }
}

.main {
  margin: 1em auto 0;
  padding: 0 3em;
}

.chrome {
  background-color: var(--brand-primary-lighter);
  border: 5px solid var(--grey-light);
  border-bottom-width: 0;
  border-radius: 10px 10px 0 0;
  position: relative;
  order: 2;
  flex-grow: 2;

  .chromebar {
    height: 1.5em;
    width: 100%;
    background-color: var(--grey-light);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    //justify-content: start;

    span {
      height: 0.75em;
      width: 0.75em;
      background-color: hsl(2, 100%, 66%);
      border-radius: 50px;
      margin: 0 0 0 0.5em;
      display: flex;
      align-items: center;
      order: 1;
      position: relative;
      border: 0.3px solid var(--grey-line);

      &::before,
      &::after {
        //position: absolute;
        content: 'cr';
        color: transparent;
        display: flex;
        display: flex;
        align-items: center;
        height: 0.75em;
        width: 0.75em;
        border-radius: 50px;
        margin: 0;
        border: 0.3px solid var(--grey-line);
      }

      &:before {
        background-color: hsl(40, 100%, 58%);
        order: 1;
        margin: 0 0 0 1em;
      }
      &:after {
        background-color: hsl(106, 66%, 44%);
        order: 2;
        margin: 0 0 0 0.25em;
      }
    }
  }
}

.content-container {
  padding: 2em 2em 0;
}

.footer {
  text-align: center;
  font-size: 0.85rem;
}

.sidebar {
  flex-grow: 1;
  order: 1;
}

@media screen and (max-width: 1260px) {
  .content-container {
    padding: 2em 1.5em 0;
  }
}

@media screen and (max-width: 1150px) {
  .header {
    max-width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .content-container {
    padding: 2em 1em 0;
  }
  .main {
    padding: 0 1em;
  }
}

@media screen and (max-width: 470px) {
  .content-container {
    padding: 2em 0.5em 0;
  }
  .main {
    padding: 0 0.5em;
  }
}
