.mentions {
  display: flex;
  flex-wrap: wrap;
}
figure.avatar {
  margin: 0 0.5em 0.5em 0;

  img {
    border-radius: 50%;
    max-width: 2.5em;
    box-shadow: none;
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .avatar {
    display: block;
  }
}
