.serviceblock {
    background-color: white;
    border: none;
    padding: 1.5em;
    font-size: var(--font-size-5);
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--grey-dark);
    height: 100%;

    > span {
        font-size: 5rem;
        margin: 0 auto;
        text-align: center;
        display: block;
        color: var(--brand-secondary-dark);
    }
    
    h3 {
        color: var(--brand-alt);
    }
}

@media screen and (max-width: 1440px) {
    .serviceblock {
        padding: 1em;
    }
}

@media screen and (max-width: 500px) {
    .serviceblock {
        padding: 1em;
    }
}

  