.serviceblockhome {
    background-color: transparent;
    border: none;
    padding: 1.5em;
    font-size: var(--font-size-5);
    height: 100%;
    border-radius: 12px;
    box-shadow: none; 
    text-align: center;
    position: relative;

    &::after {
        content: "";
        height: 65%;
        width: 1px;
        background: white;
        position: absolute;
        top: 25%;
        right: -13px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px var(--brand-primary-light);
    }

    figure,
    .img-container {
        height: 10rem;
        margin: 0 auto 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        max-height: 10rem;
        max-width: 20rem;   
        display: block;
        margin: 0 auto;
    }

    a {
        width: 100%;
    }

    p {
        min-height: 9rem;
    }    
}

@media screen and (max-width: 1500px) {
    .serviceblockhome {

        figure,
        .img-container {
            height: 8rem;
        }
        img {
            max-height: 7rem;
            max-width: 15rem;
        }
    }
}

@media screen and (max-width: 1440px) {
    .serviceblockhome {
        padding: 1em;
    }
}

@media screen and (max-width: 1150px) {
    .serviceblockhome {

        &::after {
            width: 70%;
            height: 1px;
            top: initial;
            bottom: -5%;
            right: 15%;
        }

        figure,
        .img-container {
            height: auto;
            display: block;
        }
        img {
            max-height: initial;
            max-width: 80%;
        }

        a {
            width: 70%;
        }
    
        p {
            min-height: initial;
        }   
    }
}

@media screen and (max-width: 500px) {
    .serviceblockhome {
        padding: 1em;

        img {
            max-width: 100%;
        }
    }
}

  