.button {
  position: relative;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  text-shadow: 0px 2px var(--brand-alt-lighter);
  color: var(--grey);
  transition: all 0.1s;
  cursor: pointer;
}
.button:hover {
  color: var(--text-color);
}
.button:active {
  margin-bottom: 4px;
}

/* varieties */
.button,
.button.is-default {
  border: 1px solid var(--grey-light);
  border-bottom: 5px solid var(--grey-dark);
  background-color: var(--grey-light);
}
.button:active,
.button.is-default:active {
  transform: translate(0px, 5px);
  border-bottom: 1px solid var(--grey-light);
}

.button.is-primary {
  border: 1px solid var(--brand-secondary-dark);
  border-bottom: 5px solid var(--brand-secondary-darker);
  background-color: var(--brand-secondary-dark);
  color: var(--brand-primary-lighter);
  text-shadow: 0px 2px var(--brand-secondary-darker);
}
.button.is-primary:active {
  border-bottom: 1px solid var(--brand-secondary);
}

/* augmentations */
.button.has-icon {
  vertical-align: middle;
}
.button.has-icon span.icon {
  font-size: 0.8em;
}
.button.has-icon span + span {
  margin-left: 0.5rem;
}

/* sizes */
.button.is-medium {
  font-size: var(--font-size-5);
  padding: 0.75rem 1.5rem;
}
.button.is-large {
  font-size: var(--font-size-4);
  padding: 1rem 2rem;
}

/* spacing */
.button + .button {
  margin-left: 0.75em;
}
