/* ---------------------------------------------------------------------- */
/* variables */
/* ---------------------------------------------------------------------- */
:root {
  --brand-primary: hsl(37, 90%, 63%);
  --brand-primary-dark: hsl(37, 90%, 43%);
  --brand-primary-light: #fef3e1;
  --brand-primary-lighter: hsl(43, 64%, 98%);
  --brand-secondary: hsl(157, 90%, 60%);
  --brand-secondary-dark: hsl(157, 90%, 40%);
  --brand-secondary-darker: hsl(157, 90%, 30%);
  --brand-tertiary: hsl(277, 90%, 63%);
  --brand-tertiary-dark: hsl(277, 90%, 43%);
  --brand-tertiary-darker: hsl(277, 90%, 33%);
  --brand-alt: hsl(23, 25%, 16%);
  --brand-alt-light: hsl(24, 27%, 36%);
  --brand-alt-light-trans: hsla(24, 27%, 35%, 0.4);
  --brand-alt-lighter: hsl(35, 41%, 86%);
  --text-color: hsl(0, 0%, 25%);
  /* --black: hsl(0, 0%, 25%); */
  --grey: hsla(0, 0%, 0%, 0.7);
  --grey-light: hsl(0, 0%, 86%);
  --grey-lighter: hsl(0, 0%, 90%);
  --grey-dark: hsl(0, 0%, 60%);
  --grey-line: #9da9be;
  --font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-family-headings: 'Lato', sans-serif;
  --font-family-mono: 'Operator Mono', 'Fira Code', Consolas, Monaco,
    'Andale Mono', 'Ubuntu Mono', monospace;

  --font-size-1: 3rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1rem;
}

/* ---------------------------------------------------------------------- */
/* setup and base styles */
/* ---------------------------------------------------------------------- */
html,
body {
  background-color: var(--brand-primary);
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 112.5%;
  /* font-size: 16px; */
  line-height: 1.375em;
  color: var(--text-color);
  height: 100vh;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-size: 1.12em;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--brand-secondary-dark);
  text-decoration: underline;
  transition: 0.25s color 0s ease-in-out;
}

a:hover {
  color: var(--brand-tertiary-dark);
}

a:visited {
  color: var(--brand-tertiary-dark);
}

p:not(:last-child),
dl:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
pre:not(:last-child),
table:not(:last-child) {
  margin-bottom: 1em;
}

ul:not(:last-child) {
  margin-bottom: 2em;
}

li + li {
  margin-top: 0.25em;
}

/* ---------------------------------------------------------------------- */
/* typography */
/* ---------------------------------------------------------------------- */

/* general */
blockquote {
  background-color: var(--brand-alt-lighter);
  border-left: 8px solid var(--brand-alt-light-trans);
  padding: 1.25em 1.5em;
  font-size: var(--font-size-5);
}

p {
  line-height: 1.666667;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: 600;
  line-height: 1.125;
  color: var(--brand-alt-light);
  margin-top: 0.5em;
  margin-bottom: 1em;
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 2px 3px 2px var(--brand-alt-light-trans);
}
h1 {
  font-size: var(--font-size-1);
  margin-bottom: 0.5em;
}
h1:not(:first-child) {
  margin-top: 1em;
}
h2 {
  font-size: var(--font-size-2);
  margin-bottom: 0.5714em;
}
h2:not(:first-child) {
  margin-top: 1.1428em;
}
h3,
.title {
  font-size: var(--font-size-3);
  margin-bottom: 0.6666em;
}
h3:not(:first-child),
.title:not(first-child) {
  margin-top: 1.3333em;
}
h4,
.subtitle {
  font-size: var(--font-size-4);
  margin-bottom: 0.8em;
}
h5 {
  font-size: var(--font-size-5);
}

.title + .subtitle,
.subtitle + .title {
  margin-top: 0;
}
.title.is-size-1,
.subtitle.is-size-1 {
  font-size: var(--font-size-1);
}
.title.is-size-2,
.subtitle.is-size-2 {
  font-size: var(--font-size-2);
}
.title.is-size-3,
.subtitle.is-size-3 {
  font-size: var(--font-size-3);
}
.title.is-size-4,
.subtitle.is-size-4 {
  font-size: var(--font-size-4);
}
.title.is-size-5,
.subtitle.is-size-5 {
  font-size: var(--font-size-5);
}
.title.is-size-6,
.subtitle.is-size-6 {
  font-size: var(--font-size-6);
}

/* code and pre blocks*/
pre {
  border-radius: 6px;
}

h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
p > code,
li > code {
  background-color: var(--grey-light);
  text-transform: initial;
  padding: 0 0.2em;
  border-radius: 4px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
}

h2 > code {
  font-size: 1.4em;
}

p > code {
  font-size: 0.9rem;
  font-family: var(--font-family-mono);
  font-weight: 400;
  padding: 0.2em 0.5em;
}

/* lists */
ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}
ol:not([type]) {
  list-style-type: decimal;
}
ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}
ul.unstyled {
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
}
ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}
ul ul ul {
  list-style-type: square;
}
dd {
  margin-left: 2em;
}

pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}
sup,
sub {
  font-size: 75%;
}

/* ---------------------------------------------------------------------- */
/* tables */
/* ---------------------------------------------------------------------- */
table {
  width: 100%;
}

table td,
table th {
  border: 1px solid var(--grey-light);
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

table th {
  color: var(--text-color);
}

table th:not([align]) {
  text-align: inherit;
}

table thead td,
table thead th {
  border-width: 0 0 2px;
  color: var(--text-color);
}

table tfoot td,
table tfoot th {
  border-width: 2px 0 0;
  color: var(--text-color);
}

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0;
}

/* ---------------------------------------------------------------------- */
/* images */
/* ---------------------------------------------------------------------- */

img:not(.unstyled),
.img-present {
  border: 1px solid var(--grey-line);
  border-radius: 3px;
  margin: 0.5em auto;
  /* box-shadow: 2px 2px 5px var(--grey-dark); */
  box-shadow: 0 15px 11px rgba(20, 23, 31, 0.05),
    0 9px 46px rgba(20, 23, 31, 0.06), 0 24px 38px rgba(20, 23, 31, 0.19);
}

/* figures */
figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}
figure:not(:first-child) {
  margin-top: 2em;
}
figure:not(:last-child) {
  margin-bottom: 2em;
}
figure img {
  display: inline-block;
}
figure figcaption {
  font-style: italic;
  font-size: 0.8rem;
}

img.fancy-img {
  border: 5px solid var(--brand-alt-light);
  border-radius: 80px;
  box-shadow: 4px 4px 5px var(--brand-alt-light-trans);
}
img.fancy-img.is-lg {
  border-radius: 30em;
}

img.filter {
  filter: grayscale(100%) sepia(20%) contrast(125%);
}

/* ---------------------------------------------------------------------- */
/* utilities */
/* ---------------------------------------------------------------------- */
.is-hidden {
  display: none !important;
}

.screen-reader-text,
.is-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}
