/* ---------------------------------------------------------------------- */
/* utilities */
/* ---------------------------------------------------------------------- */
.flex {
  display: flex;
  /* align-content: stretch; */
}
.flex.column {
  flex-direction: column;
}
.flex.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* ---------------------------------------------------------------------- */
/* misc */
/* ---------------------------------------------------------------------- */

main > section,
.section {
  margin: 1em 0;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
}
main > section + section:not(.has-border-top),
.section + .section:not(.has-border-top) {
  border-top: 0;
  padding-top: 1em;
  padding-bottom: 2em;
}

/* sizes */
.section.is-lg {
  margin: 3em 0 1em;
  padding: 3em 3em 5em;
}
.section.is-md {
  margin: 2em 0 0.5em;
  padding: 2em 2em 4.5em;
}

/* coloured sections */
.section.is-grey,
.section.is-grey-light,
.section.is-primary,
.section.is-secondary,
.section.is-alt {
  color: white;
  border-radius: 4px;
}

.section.is-grey {
  background-color: var(--grey-line);
}
.section.is-grey-light {
  background-color: var(--grey-light);
}
.section.is-primary {
  background-color: var(--brand-primary);
}
.section.is-secondary {
  background-color: var(--brand-secondary-dark);
}
.section.is-alt {
  background-color: var(--brand-alt);
}

main > section:last-of-type,
main > .section:last-of-type{
  border-bottom: none;
}

/* ---------------------------------------------------------------------- */
/* media items */
/* ---------------------------------------------------------------------- */
.media {
  display: flex;
}
.media > figure,
.media-left {
  margin-bottom: 0;
}
.media-left img:not(.fancy-img) {
  max-width: 15rem;
  border: initial;
  box-shadow: initial;
}
.media-left img {
  max-width: 15rem;
}

/* ---------------------------------------------------------------------- */
/* containers */
/* ---------------------------------------------------------------------- */
.container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------------------------- */
/* articles */
/* ---------------------------------------------------------------------- */
.article .post-meta h1 {
  margin-top: 0;
}
.article .post-meta time {
  font-size: var(--font-size-4);
  margin-bottom: 0.5em;
  display: block;
}

.article-item {
  height: 100%;
}
.article-item h3,
.article-list-item h3 {
  margin-top: 0.3em;
}
.article-item .card-content {
  display: flex;
  flex-direction: column;
}
.article-item .tags {
  align-self: center;
  justify-self: flex-end;
}

.tags {
  font-size: 0.9rem;
  margin-top: 2em;
}
.tags a {
  padding: 0.3em 0.3em 0;
  text-decoration: none;
  color: var(--grey-line);
  margin: 0.5em 0.5em 0;
}

.article-list-item {
  border-bottom: 1px solid var(--grey-line);
  padding: 1em 0;
}

.article-list-item .media-left {
  margin-right: 1em;
}

.article-list-item .media-left img {
  max-width: 8em;
}

.article-list-item .tags {
  margin: 0;
}

.post-content img {
  display: block;
  /* width: 100%; */
  margin: 2em auto;
}

/* ---------------------------------------------------------------------- */
/* cards */
/* ---------------------------------------------------------------------- */
.card {
  background-color: white;
  border-radius: 4px;
  color: var(--text-color);
  position: relative;
}
.card .card-image img {
  border-radius: 4px 4px 0 0;
}
.card .card-content {
  padding: 1em;
}
.card.is-fullheight {
  height: 100%;
}

/* ---------------------------------------------------------------------- */
/* boxes */
/* ---------------------------------------------------------------------- */

.author-box {
  margin: 4em 0 2em;
}
.author-box .media {
  align-items: center;
}
.author-box .media-left img {
  max-width: 7rem;
}

.box {
  background-color: white;
  color: var(--text-color);
  border: none;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 2px 2px 3px var(--grey-dark);
}

.box.is-dark {
  background-color: var(--text-color);
  color: white;
}
.box.is-dark > .title {
  color: white;
}
