@media screen and (max-width: 1750px) {
  .home-section-wordpress .media-left {
    max-width: 36rem;
  }
}

@media screen and (max-width: 1570px) {
  .home-section-wordpress {
    flex-direction: column;
  }

  .home-section-wordpress .media-left {
    display: flex;
    align-items: center;
    max-width: initial;
    margin: 0 0 2em 0;
  }

  .home-section-wordpress .media-left img {
    max-width: 50%;
  }
}

@media screen and (max-width: 1460px) {
  .home-hero .hero-right img {
    max-width: 15rem;
  }
  .home-hero .hero-right::after,
  .home-hero .hero-right::before {
    height: 6em;
    width: 6em;
  }
  .home-hero .hero-right::before {
    height: 4em;
    width: 4em;
    top: 24em;
  }
}

@media screen and (max-width: 1340px) {
  .serviceblock-columns .column {
      width: 50%;
  }
}

@media screen and (max-width: 1260px) {
  .home-hero .hero-right img {
    max-width: 13rem;
  }

  .home-section-wordpress .media-left img:first-of-type {
    max-width: 100%;
  }

  .home-section-wordpress .media-left img + img {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .home-service-blocks {
    display: block !important;
  }
}

@media screen and (max-width: 1070px) {
  .home-hero {
    flex-direction: column-reverse;
  }
  .home-hero .hero-left {
    margin-right: 0;
  }
  .home-hero .hero-right img {
    max-width: 20rem;
    display: block;
  }
  .home-hero .hero-right::before,
  .home-hero .hero-right::after {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .project-item .media-left img {
    max-width: 9rem;
  }
  
  .serviceblock-columns .column {
      width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .media {
    flex-direction: column;
  }

  .article-list-item .media-left {
    margin-right: auto;
  }

  .article-list-item .media-left img {
    max-width: 100%;
  }
  .project-item .media-left img {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .home-hero {
    padding: 0 0 2.5em;
  }
  .home-hero .button {
    display: block;
    max-width: 75%;
    margin: 0 auto 0.75em;
  }
  .home-section-wordpress {
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 520px) {
  :root {
    --font-size-1: 2.1rem;
    --font-size-2: 1.8rem;
    --font-size-3: 1.6rem;
  }

  .home-hero .hero-right img {
    max-width: 80%;
  }

  .home-hero .button {
    max-width: 90%;
  }

  ul {
    margin-left: 1.3em;
  }
  ul.unstyled {
    margin-left: 0.5em;
  }

  .section.is-md {
    padding: 2em 1em 4.5em;
  }

  .comments-area {
    margin: 2.5em 0 3.66667em;
  }

  #comments-show {
    bottom: -85px;
    width: 80%;
  }
}
